/*----- Nature bg section -----*/
@media (max-width: 768px) {
  .left-content-hero-section-content-box {
    max-width: 410px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 567px) {
  .left-content-hero-section-content-box {
    padding: 24px;
  }

  .left-content-hero-section-content-box .richtext {
    margin-bottom: 10px;
  }
}

/*----- Bg gradient section -----*/
@media (max-width: 1024px) {
  .bg-gradient-section-content {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .bg-gradient-section-content {
    padding: 0 20px;
  }
}

@media (max-width: 567px) {
  .bg-gradient-section-content .richtext {
    margin-top: 7px;
  }
}

/* -------------------- Cards modules CSS -------------------- */
/* ----- Three columns default cards section  ----- */
@media (max-width: 1023px) {
  .flexible-blog-grid-card-content-wrapper {
    padding: 34px;
  }
}

@media (max-width: 767px) {
  .flexible-blog-grid-card-content-wrapper {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .flexible-blog-grid-card-content-wrapper {
    padding: 24px;
  }
}
