/*----- Nature bg section -----*/
@media (max-width: 768px) {
  .left-content-hero-section-content-box {
    max-width: 410px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 567px) {
  .left-content-hero-section-content-box {
    padding: 24px;
  }

  .left-content-hero-section-content-box .richtext {
    margin-bottom: 10px;
  }
}

/*----- Bg gradient section -----*/
@media (max-width: 1024px) {
  .bg-gradient-section-content {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .bg-gradient-section-content {
    padding: 0 20px;
  }
}

@media (max-width: 567px) {
  .bg-gradient-section-content .richtext {
    margin-top: 7px;
  }
}

/* -------------------- Cards modules HTML -------------------- */

/* -------------------- Start flexible blog grid section  -------------------- */
@media (max-width: 1023px) {
  .flexible-blog-grid-section {
    padding: 50px 0;
  }

  .flexible-blog-grid-section h2 {
    font-size: 40px;
    padding-block: 22px;
  }

  .flexible-blog-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .flexible-blog-grid-card-content-wrapper {
    padding: 34px;
  }
}

@media (max-width: 767px) {
  .flexible-blog-grid-section {
    padding: 30px 0;
  }

  .flexible-blog-grid-section h2 {
    font-size: 34px;
  }

  .flexible-blog-grid-card-content-wrapper {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .flexible-blog-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .flexible-blog-grid-card-content-wrapper {
    padding: 24px;
  }
}
/* -------------------- End flexible blog grid section  -------------------- */

/* -------------------- Start small card section -------------------- */

@media (max-width: 1023px) {
  .small-image-content-cards-section {
    padding-block: 50px;
  }

  .small-image-content-cards-section h2 {
    font-size: 40px;
    padding-block: 22px;
  }

  .small-image-content-cards-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .small-image-content-cards-section {
    padding-block: 30px;
  }

  .small-image-content-cards-section h2 {
    font-size: 34px;
  }

  .small-image-content-card-content {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .small-image-content-cards-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* -------------------- End small card section -------------------- */

/* -------------------- Start square blog cards section -------------------- */

@media (max-width: 1023px) {
  .square-blog-cards-section {
    padding-block: 50px;
  }

  .square-blog-cards-section h2 {
    font-size: 40px;
    padding-block: 22px;
  }

  .square-blog-cards-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .square-blog-cards-section {
    padding-block: 30px;
  }

  .square-blog-cards-section h2 {
    font-size: 34px;
  }
}

@media (max-width: 575px) {
  .square-blog-cards-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
  .square-blog-card-content-wrapper {
    padding: 36px 22px;
  }
}
/* -------------------- End square blog cards section -------------------- */
