/*----- Nature bg section -----*/
.left-content-hero-section {
  width: 100%;
  height: 100vh;
  background-image: url(../image/nature-demo-delivravles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.left-content-hero-section-content-box {
  max-width: 650px;
  padding: 30px 40px;
  border-radius: 32px;
  border-bottom-left-radius: 0;
  color: var(--white);
  background-color: var(--content-bg-color);
  position: absolute;
  left: 15%;
  top: 32%;
}

.left-content-hero-section-content-box .richtext,
.left-content-hero-section-content-box h3 {
  margin-bottom: 20px;
}

.left-content-hero-section-btn {
  background-color: var(--steelblue);
  color: var(--white);
}

.left-content-hero-section-btn:hover {
  background-color: var(--lightsteelblue);
}

/*----- Bg gradient section -----*/
.bg-gradient-section {
  height: 100vh;
  background: var(--background-color);
  color: var(--white);
  position: relative;
}

.bg-gradient-section-content {
  max-width: 750px;
  padding: 10px 20px;
  position: absolute;
  top: 35%;
  left: 16%;
}

.bg-gradient-section-content .richtext {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* -------------------- Cards modules HTML -------------------- */
/*----- Three columns default cards section  -----*/
.flexible-blog-grid-section {
  /* background-image: url(../image/paper-texture.jpg); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: 100%; */
  background-color: var(--whitesmoke);
  /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
  padding: 90px 0;
}

.flexible-blog-grid-section h2 {
  text-align: center;
  color: var(--black);
  padding-block: 30px;
  text-transform: capitalize;
}

.flexible-blog-grid-card {
  height: 550px;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--white);
  position: relative;
  transition: all 0.3s ease;
}

.flexible-blog-grid-card:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.flexible-blog-grid-card-media {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  overflow: hidden;
  border-radius: 24px;
  transition: all 0.6s ease;
}

.flexible-blog-grid-card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-media {
  transform: scale(1.15);
}

.flexible-blog-grid-card-white-bg,
.flexible-blog-grid-card-black-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.flexible-blog-grid-card-white-bg {
  background-color: var(--white);
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-white-bg {
  opacity: 0;
}

.flexible-blog-grid-card-black-overlay {
  z-index: 0;
  background: var(--black);
  opacity: 0.3;
}

.flexible-blog-grid-card-btns {
  width: fit-content;
  height: 27px;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 12px;
  overflow: hidden;
  background-color: var(--darkslateblue);
  color: var(--white);
  text-transform: uppercase;
}

.flexible-blog-grid-card-btns-first-variant {
  opacity: 1;
}

.flexible-blog-grid-card-btns-second-variant {
  opacity: 0;
}

.flexible-blog-grid-card-btns-first-variant,
.flexible-blog-grid-card-btns-second-variant {
  transition: all 0.6s ease-out;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-btns-second-variant {
  opacity: 1;
  transform: translateY(-19px);
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-btns-first-variant {
  opacity: 0;
  transform: translateY(-20px);
}

.flexible-blog-grid-card-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  position: relative;
  z-index: 2;
}

.flexible-blog-grid-card-content * {
  color: var(--lightblack);
  transition: all 0.3s ease;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-content * {
  color: var(--white);
}

.flexible-blog-grid-card-content h4 {
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 10px;
}

.flexible-blog-grid-card-content .richtext {
  margin-bottom: 8px;
}

.flexible-blog-grid-card-content .richtext p {
  -webkit-line-clamp: 2;
}

.flexible-blog-grid-card-info {
  display: flex;
  gap: 15px;
  font-size: 16px;
  font-weight: 300;
}

.flexible-blog-grid-card-content-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.flexible-blog-grid-card-content-btn svg {
  opacity: 0;
  transition: all 0.6s ease;
}

.flexible-blog-grid-card-content-btn:hover,
.flexible-blog-grid-card-content-btn:hover * {
  color: var(--darkslateblue) !important;
  gap: 6px;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-content-btn svg {
  transform: translateX(6px);
  opacity: 1;
}

/* ----- Small card section ----- */
.small-image-content-cards-section {
  padding-block: 90px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.small-image-content-cards-section h2 {
  padding-block: 40px;
  text-align: center;
}

.small-image-content-card-wrapper {
  position: relative;
}

.small-image-content-card-media {
  height: 259px;
  border-radius: 12px;
  overflow: hidden;
}

.small-image-content-card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.small-image-content-card-wrapper:hover .small-image-content-card-media img {
  transform: scale(1.1);
}

.small-image-content-card-media-btns {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--darkslateblue);
  color: var(--white);
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 12px;
}

.small-image-content-card-content {
  margin-top: 30px;
  color: var(--lightblack);
}

.small-image-content-card-content h4 {
  font-weight: 500;
  line-height: 1;
}

.small-image-content-card-content .richtext {
  margin-top: 10px;
}

.small-image-content-card-content .richtext p {
  -webkit-line-clamp: 2;
}

.small-image-content-card-learn-more-btn {
  width: fit-content;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--lightblack);
  transition: all 0.3s ease;
}

.small-image-content-card-learn-more-btn svg {
  opacity: 0;
  transition: all 0.6s ease;
}

.small-image-content-card-learn-more-btn:hover {
  color: var(--darkslateblue);
  gap: 6px;
}

.small-image-content-card-wrapper:hover
  .small-image-content-card-learn-more-btn
  svg {
  opacity: 1;
  transform: translateX(3px);
}

.small-image-content-card-info {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  font-weight: 300;
}

.small-image-content-card-info * {
  color: var(--lightblack) !important;
}
