/*----- Nature bg section -----*/
.left-content-hero-section {
  width: 100%;
  height: 100vh;
  background-image: url(../image/nature-demo-delivravles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.left-content-hero-section-content-box {
  max-width: 650px;
  padding: 30px 40px;
  border-radius: 32px;
  border-bottom-left-radius: 0;
  color: var(--white);
  background-color: var(--content-bg-color);
  position: absolute;
  left: 15%;
  top: 32%;
}

.left-content-hero-section-content-box .richtext,
.left-content-hero-section-content-box h3 {
  margin-bottom: 20px;
}

.left-content-hero-section-btn {
  background-color: var(--steelblue);
  color: var(--white);
}

.left-content-hero-section-btn:hover {
  background-color: var(--lightsteelblue);
}

/*----- Bg gradient section -----*/
.bg-gradient-section {
  height: 100vh;
  background: var(--background-color);
  color: var(--white);
  position: relative;
}

.bg-gradient-section-content {
  max-width: 750px;
  padding: 10px 20px;
  position: absolute;
  top: 35%;
  left: 16%;
}

.bg-gradient-section-content .richtext {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* -------------------- Cards modules HTML -------------------- */
/* ---------- Flexible blog grid section  ---------- */
.flexible-blog-grid-section {
  background-color: #f5f5f5;
  padding: 90px 0;
}

.flexible-blog-grid-section h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  padding-block: 30px;
  text-transform: capitalize;
}

.flexible-blog-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.flexible-blog-grid-card {
  height: 550px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  transition: all 0.3s ease;
}

.flexible-blog-grid-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.flexible-blog-grid-card-media {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  overflow: hidden;
  border-radius: 24px;
  transition: all 0.6s ease;
}

.flexible-blog-grid-card-media img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-media {
  transform: scale(1.15);
}

.flexible-blog-grid-card-white-bg,
.flexible-blog-grid-card-black-overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flexible-blog-grid-card-white-bg {
  background-color: #ffffff;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-white-bg {
  opacity: 0;
}

.flexible-blog-grid-card-black-overlay {
  z-index: 0;
  background: #000000;
  opacity: 0.3;
}

.flexible-blog-grid-card-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  position: relative;
  z-index: 2;
}

.flexible-blog-grid-card-btn {
  width: fit-content;
  height: 27px;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 12px;
  overflow: hidden;
  background-color: #674ea7;
  color: #ffffff;
  text-transform: uppercase;
}

.flexible-blog-grid-card-btn-second-variant {
  opacity: 0;
}

.flexible-blog-grid-card-btn-first-variant,
.flexible-blog-grid-card-btn-second-variant {
  transition: all 0.6s ease-out;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-btn-second-variant {
  opacity: 1;
  transform: translateY(-19px);
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-btn-first-variant {
  opacity: 0;
  transform: translateY(-20px);
}

.flexible-blog-grid-card-content * {
  color: #1b1b1b;
  transition: all 0.3s ease;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-content * {
  color: #ffffff;
}

.flexible-blog-grid-card-content h4 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 10px;
}

.flexible-blog-grid-card-content .richtext {
  margin-bottom: 8px;
}

.flexible-blog-grid-card-content .richtext p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.flexible-blog-grid-card-content-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.flexible-blog-grid-card-content-btn svg {
  opacity: 0;
  transition: all 0.6s ease;
}

.flexible-blog-grid-card-content-btn:hover,
.flexible-blog-grid-card-content-btn:hover * {
  color: #674ea7 !important;
  gap: 6px;
}

.flexible-blog-grid-card:hover .flexible-blog-grid-card-content-btn svg {
  transform: translateX(6px);
  opacity: 1;
}

.flexible-blog-grid-card-info {
  display: flex;
  gap: 15px;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 1023px) {
  .flexible-blog-grid-section {
    padding: 50px 0;
  }

  .flexible-blog-grid-section h2 {
    font-size: 40px;
    padding-block: 22px;
  }

  .flexible-blog-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .flexible-blog-grid-card-content-wrapper {
    padding: 34px;
  }
}

@media (max-width: 767px) {
  .flexible-blog-grid-section {
    padding: 30px 0;
  }

  .flexible-blog-grid-section h2 {
    font-size: 34px;
  }

  .flexible-blog-grid-card-content-wrapper {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .flexible-blog-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .flexible-blog-grid-card-content-wrapper {
    padding: 24px;
  }
}

/* -------------------- Small card section -------------------- */
.small-image-content-cards-section {
  padding-block: 90px;
  /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
}

.small-image-content-cards-section h2 {
  font-size: 48px;
  font-weight: 600;
  padding-block: 40px;
  text-align: center;
}

.small-image-content-cards-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.small-image-content-card-wrapper {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.small-image-content-card-media {
  height: 259px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.small-image-content-card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.small-image-content-card-wrapper:hover .small-image-content-card-media img {
  transform: scale(1.1);
}

.small-image-content-card-content {
  margin-top: 30px;
  color: #1b1b1b;
}

.small-image-content-card-media-btn {
  width: fit-content;
  height: 27px;
  overflow: hidden;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 12px;
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #674ea7;
  color: #ffffff;
  text-transform: uppercase;
}
.small-image-content-card-media-btn-first-variant,
.small-image-content-card-media-btn-second-variant {
  transition: all 0.4s ease-out;
}

.small-image-content-card-media-btn-second-variant {
  opacity: 0;
  transform: translateY(4px);
}

.small-image-content-card-wrapper:hover
  .small-image-content-card-media-btn-first-variant {
  transform: translateY(-20px);
  opacity: 0;
}

.small-image-content-card-wrapper:hover
  .small-image-content-card-media-btn-second-variant {
  transform: translateY(-19px);
  opacity: 1;
}

.small-image-content-card-title * {
  color: #1b1b1b;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  transition: all 0.3s ease-in-out;
}

.small-image-content-card-wrapper:hover .small-image-content-card-title * {
  color: #674ea7;
}

.small-image-content-card-content .richtext {
  margin: 10px 0;
}

.small-image-content-card-content .richtext p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.small-image-content-card-learn-more-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  color: #1b1b1b;
}

.small-image-content-card-learn-more-btn svg {
  opacity: 0;
  transition: all 0.4s ease-out;
}

.small-image-content-card-learn-more-btn:hover,
.small-image-content-card-learn-more-btn:hover * {
  color: #674ea7;
  gap: 6px;
}

.small-image-content-card-wrapper:hover
  .small-image-content-card-learn-more-btn
  svg {
  transform: translateX(6px);
  opacity: 1;
}

.small-image-content-card-info {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  font-weight: 300;
}

.small-image-content-card-info * {
  color: var(--lightblack) !important;
}

@media (max-width: 1023px) {
  .small-image-content-cards-section {
    padding-block: 50px;
  }

  .small-image-content-cards-section h2 {
    font-size: 40px;
    padding-block: 22px;
  }

  .small-image-content-cards-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .small-image-content-cards-section {
    padding-block: 30px;
  }

  .small-image-content-cards-section h2 {
    font-size: 34px;
  }

  .small-image-content-cards-grid-wrapper {
    /* grid-template-columns: repeat(1, 1fr); */
  }

  .small-image-content-card-content {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .small-image-content-cards-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* -------------------- Square blog cards section -------------------- */
.square-blog-cards-section {
  padding-block: 90px;
}

.square-blog-cards-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #674ea7;
}

.square-blog-card {
  height: 550px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.square-blog-card-media {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.square-blog-card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square-blog-card-purple-bg {
  color: #674ea7;
  opacity: 1;
  z-index: 1;
}

.square-blog-card-black-overlay {
  position: absolute;
  color: #000000;
  opacity: 0.3;
  z-index: 2;
}

.square-blog-card-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 3;
}

.square-blog-card-btn {
  width: fit-content;
  height: 27px;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #674ea7;
  color: #ffffff;
  text-transform: uppercase;
}

.square-blog-card-btn-first-variant,
.square-blog-card-btn-second-variant {
  transition: all 0.6s ease-in-out;
}

.square-blog-card-btn-second-variant {
  opacity: 0;
}

.square-blog-card:hover .square-blog-card-btn-first-variant {
  transform: translateY(-20px);
  opacity: 0;
}

.square-blog-card:hover .square-blog-card-btn-second-variant {
  transform: translateY(-18px);
  opacity: 1;
}

.square-blog-card-content h4 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 10px;
}

.square-blog-card-content .richtext {
  margin-bottom: 10px;
  color: #ffffff;
}

.square-blog-card-content .richtext p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.square-blog-card-content-btn {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #ffffff;
  transition: all 0.3s ease;
}

.square-blog-card-content-btn:hover {
  color: #674ea7;
}

.square-blog-card-content-btn svg {
  opacity: 0;
  transition: all 0.4s ease-out;
}

.square-blog-card:hover .square-blog-card-content-btn svg {
  opacity: 1;
  transform: translateX(6px);
}

.square-blog-card-info {
  display: flex;
  color: #ffffff;
  gap: 15px;
}

.square-blog-card-info a {
  color: #ffffff;
}
